<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC
"-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>		
		<typeAlias type="com.cm.takemeal.member.model.vo.Member" alias="Member" />
		<typeAlias type="com.cm.takemeal.recipe.model.vo.Recipe" alias="Recipe" />
		<typeAlias type="com.cm.takemeal.notice.model.vo.Notice" alias="Notice" />
		<typeAlias type="com.cm.takemeal.noticeboard.model.vo.BoardVo" alias="BoardVo" />
		<package name="com.cm.takemeal"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mybatis/mappers/member-mapper.xml" />
		<mapper resource="mybatis/mappers/recipe-mapper.xml" />
		<mapper resource="mybatis/mappers/notice-mapper.xml" />
		<mapper resource="mybatis/mappers/NoticeBoardMapper.xml" />
	</mappers>
	
	
	
	
</configuration>
