<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC
"-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>		
		<typeAlias type="com.cm.takemeal.member.model.vo.Member" alias="Member" />
		<typeAlias type="com.cm.takemeal.recipe.model.vo.Recipe" alias="Recipe" />
		<typeAlias type="com.cm.takemeal.notice.model.vo.Notice" alias="Notice" />
		<typeAlias type="com.cm.takemeal.faq.model.vo.Faq" alias="Faq" />
		<typeAlias type="com.cm.takemeal.chef.model.vo.Chef" alias="Chef" />
		<typeAlias type="com.cm.takemeal.shop.model.vo.Shop" alias="Shop" />
		<typeAlias type="com.cm.takemeal.noticeboard.model.vo.BoardVo" alias="BoardVo" />
		<typeAlias type="com.cm.takemeal.fridge.model.vo.Food" alias="Food" />
		<package name="com.cm.takemeal"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mybatis/mappers/member-mapper.xml" />
		<mapper resource="mybatis/mappers/recipe-mapper.xml" />
		<mapper resource="mybatis/mappers/notice-mapper.xml" />
		<mapper resource="mybatis/mappers/faq-mapper.xml" />
		<mapper resource="mybatis/mappers/shop-mapper.xml" />
		<mapper resource="mybatis/mappers/NoticeBoardMapper.xml" />
		<mapper resource="mybatis/mappers/chef-mapper.xml" />
		<mapper resource="mybatis/mappers/fridge-mapper.xml" />
	</mappers>
	
	
	
	
</configuration>
