<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cm.takemeal.fridge.model.dao.FridgeDao">

	<resultMap type="Food" id="ResultFood">
		<id column="no" property="no" />
		<result column="class_code" property="class_code" />
		<result column="food_code" property="food_code" />
		<result column="food_name" property="food_name" />
		<result column="cool_sys" property="cool_sys" />
		<result column="expiry_date" property="expiry_date" />
		<result column="food_count" property="food_count" />
	</resultMap>
	
	<select id="myfridge_cold" resultMap="Food">
	<![CDATA[
	select FOOD_NAME, FOOD_COUNT
		from(
		 select food_name, FOOD_COUNT
		 from meats
		 where no=1 and cool_sys='냉장'
		 
		 union
		 
		 select food_name, FOOD_COUNT
		 from fishs
		 where no=1 and cool_sys='냉장'
		 
		 union
		 
		 select food_name, FOOD_COUNT
		 from CEREALS
		 where no=1 and cool_sys='냉장'
		 
		 union
		 
		 select food_name, FOOD_COUNT
		 from VEGETABLES
		 where no=1 and cool_sys='냉장'
		 
		 union
		 
		 select food_name, FOOD_COUNT
		 from eggs
		 where no=1 and cool_sys='냉장'
		 
		 union
		 
		 select food_name, FOOD_COUNT
		 from milky
		 where no=1 and cool_sys='냉장'
		 
		);
	]]>
	</select>
	
	<select id="myfridge_freeze" resultMap="Food">
	<![CDATA[
	select FOOD_NAME, FOOD_COUNT
		from(
		 select food_name, FOOD_COUNT
		 from meats
		 where no=1 and cool_sys='냉동'
		 
		 union
		 
		 select food_name, FOOD_COUNT
		 from fishs
		 where no=1 and cool_sys='냉동'
		 
		 union
		 
		 select food_name, FOOD_COUNT
		 from CEREALS
		 where no=1 and cool_sys='냉동'
		 
		 union
		 
		 select food_name, FOOD_COUNT
		 from VEGETABLES
		 where no=1 and cool_sys='냉동'
		 
		 union
		 
		 select food_name, FOOD_COUNT
		 from eggs
		 where no=1 and cool_sys='냉동'
		 
		 union
		 
		 select food_name, FOOD_COUNT
		 from milky
		 where no=1 and cool_sys='냉동'
		 
		);
	]]>
	</select>

</mapper>
