<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="NoticeBoardMapper">

	<resultMap type="BoardVo" id="BoardVo">
		<id column="bno" property="bno" />
		<result column="title" property="title" />
		<result column="content" property="content" />
		<result column="writer" property="writer" />
		<result column="regdate" property="regdate" />
		<result column="viewcnt" property="viewcnt" />
	</resultMap>





	<insert id="create">
		insert into tbl_board(title, content, writer)
		values(#{title}, #{content}, #{writer})
	</insert>

	<select id="read" resultType="BoardVo">
		select
		BNO, title, content, writer,
		regdate, viewcnt
		from
		tbl_board
		where BNO =
		#{bno}
	</select>


	<update id="update">
		update tbl_board set title =#{title}, content
		=#{content}
		where BNO=#{bno}
	</update>

	<delete id="delete">
		delete from tbl_board where BNO=#{bno}
	</delete>


	<select id="listAll" resultMap="BoardVo">
	<![CDATA[
	select
	 bno, title, content, writer, regdate, viewcnt
	from tbl_board
	where bno > 0
	order by bno asc, regdate asc
	]]>
	</select>

	<select id="listPage" resultType="BoardVo">
	<![CDATA[
	
		select * from
	(select rownum rn, bno, title, content, writer, regdate, viewcnt from
	TBL_BOARD where bno>0 order by bno asc)
 	where rn between #{page} and 10
	
	]]>


	</select>

	<select id="listCriteria" resultType="BoardVo">
	<![CDATA[
	select * from
	(select rownum rn, bno, title, content, writer, regdate, viewcnt from
	TBL_BOARD where bno>0 order by bno asc)
	where rn between #{pageStart} and #{perPageNum}
	]]>

	</select>


	<select id="countPaging" resultType="int">
	<![CDATA[
		select count(bno) from tbl_board where bno > 0 
	]]>

	</select>

	<sql id="search">
		<if test="searchType != null">
			<if test="searchType =='t'.toString()">
				and title like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType =='c'.toString()">
				and content like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType =='w'.toString()">
				and writer like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType =='tc'.toString()">
				and (title like CONCAT('%', #{keyword}, '%') OR content like
				CONCAT('%', #{keyword}, '%'))
			</if>
			<if test="searchType =='cw'.toString()">
				and (title content CONCAT('%', #{keyword}, '%') OR writer like
				CONCAT('%', #{keyword}, '%'))
			</if>
			<if test="searchType =='tcw'.toString()">
				and (title content CONCAT('%', #{keyword}, '%')
				OR
				content like CONCAT('%', #{keyword}, '%')
				OR
				writer like CONCAT('%', #{keyword}, '%'))
			</if>
		</if>
	</sql>


	<select id="listSearch" resultType="BoardVo">
	<![CDATA[
		select * from
	(select rownum rn, bno, title, content, writer, regdate, viewcnt from
	TBL_BOARD where bno>0 order by bno asc)
	]]>
		<include refid="search"></include>
	
	<![CDATA[
 	where rn between #{pageStart} and #{perPageNum}
	]]>
	</select>

	<select id="listSearchCount" resultType="int">
	<![CDATA[
	select count(bno)
	from tbl_board
	where bno > 0
	
	]]>
		<include refid="search"></include>

	</select>



</mapper>
