<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cm.takemeal.recipe.model.dao.RecipeDao">

	<resultMap type="recipe" id="resultRecipe">
		<id column="no" property="no" />
		<result column="subject" property="subject" />
		<result column="contents" property="contents" />
		<result column="thumbnail1" property="thumbnail1" />
		<result column="thumbnail2" property="thumbnail2" />
		<result column="thumbnail3" property="thumbnail3" />
		<result column="thumbnail4" property="thumbnail4" />
		<result column="time" property="time" />
		<result column="follow" property="follow" />
		<result column="hit" property="hit" />
		<result column="kcal" property="kcal" />
		<result column="userid" property="userid" />
		<result column="reg_date" property="reg_date" />
	</resultMap>
		
    <select id="selectContentCnt" resultType="int" parameterType="java.util.HashMap">
    	<![CDATA[ 
        SELECT
            COUNT(no)
        FROM
            recipe
        ]]>
       	<if test="subject != null">
	    	<![CDATA[ 
		    WHERE subject like '%'||#{subject}||'%'
		    ]]>
		</if>
    </select>
    
    
    <insert id="insertRecipe" parameterType="java.util.HashMap">
    	<![CDATA[ 
        INSERT INTO recipe(
        	no,
            subject,
            contents,
            thumbnail1,
            thumbnail2,
            thumbnail3,
            thumbnail4,
            desc1,
            desc2,
            desc3,
            desc4,
            tag,
            people,
            recipe_food,
            recipe_amount,
            time
        )values(
        	RECIPE_SEQ.NEXTVAL,
            #{subject},
            #{contents},
            #{thumbnail1, jdbcType=VARCHAR},
            #{thumbnail2, jdbcType=VARCHAR},
            #{thumbnail3, jdbcType=VARCHAR},
            #{thumbnail4, jdbcType=VARCHAR},
            #{desc1},
            #{desc2},
            #{desc3},
            #{desc4},
            #{tag},
            #{people},
            #{recipe_food},
            #{recipe_amount},
            #{time}
        )
        ]]>
    </insert>
    
    
    <select id="selectContent" resultType="com.cm.takemeal.recipe.model.vo.Recipe" parameterType="java.util.HashMap">
    
    	<if test="userid != null">
    	<![CDATA[
        SELECT * FROM (
		    SELECT r.no, r.userid, r.subject, r.contents, r.time, r.follow, r.thumbnail1, r.thumbnail2, r.thumbnail3, r.thumbnail4, TO_CHAR(r.reg_date,'YYYY-MM-DD'), ROW_NUMBER() OVER(ORDER BY r.no DESC) AS RNUM
		    FROM recipe r LEFT JOIN recipe_like l on  r.no = l.recipe_no WHERE l.USERID = #{userid}
		]]>
			<if test="username != null">
		    	<![CDATA[ 
			    AND username like '%'||#{username}||'%'
			    ]]>
			</if>
		<![CDATA[
		)
		WHERE RNUM > #{start} AND RNUM <= #{end}
		]]>
		</if>
		
		<if test="userid == null">
    	<![CDATA[ 
    	SELECT * FROM (
		    SELECT m.username, r.no, r.userid, r.subject, r.contents, r.time, r.follow, r.thumbnail1, r.thumbnail2, r.thumbnail3, r.thumbnail4, TO_CHAR(r.reg_date,'YYYY-MM-DD'), ROW_NUMBER() OVER(ORDER BY r.no DESC) AS RNUM
		    FROM
		    	recipe r LEFT JOIN member m
		    ON r.userid = m.userid
		]]> 
		 
		    <if test="subject != null">
		    	<![CDATA[ 
			    WHERE r.subject like '%'||#{subject}||'%'
			    ]]>
			</if>
		<![CDATA[
			)
		WHERE RNUM > #{start} AND RNUM <= #{end}
		]]> 
		</if>
    </select>




    <update id="upLike" parameterType="java.util.HashMap">
    	<![CDATA[ 
		UPDATE recipe SET follow = follow + 1
		WHERE 
			no = #{recipe_no}
		]]> 
    </update>

    <update id="downLike" parameterType="java.util.HashMap">
    	<![CDATA[ 
		UPDATE recipe SET follow = follow - 1
		WHERE 
			no = #{recipe_no}
		]]> 
    </update>
    
    <select id="selectLikeCnt" resultType="int" parameterType="java.util.HashMap">
    	<![CDATA[ 
		SELECT
			count(*)
		FROM 
			recipe_like
		WHERE 
			userid = #{userid} AND recipe_no = #{recipe_no}
		]]> 
    </select>
    
    <select id="selectRecipeLikeCnt" resultType="java.util.HashMap" parameterType="java.util.HashMap">
    	<![CDATA[ 
		SELECT
			recipe_no,
			userid
		FROM 
			recipe_like
		WHERE 
			userid = #{userid}
		]]> 
    </select>
    
    <select id="selectContentView" resultType="com.cm.takemeal.recipe.model.vo.Recipe" parameterType="java.util.HashMap">
    	<![CDATA[ 
		SELECT
			no,
			userid,
			subject,
			contents,
			time,
			follow,
			recipe_food,
			recipe_amount,
            thumbnail1,
            thumbnail2,
            thumbnail3,
            thumbnail4,
            desc1,
            desc2,
            desc3,
            desc4,
            tag,
            people,
			TO_CHAR(reg_date,'YYYY-MM-DD')
		FROM 
			recipe
		WHERE 
			no = #{no}
		]]> 
    </select>
    
    
	
    <insert id="saveLike" parameterType="java.util.HashMap">
    	<![CDATA[ 
        INSERT INTO recipe_like(
        	recipe_no,
            userid
        )values(
            #{recipe_no},
            #{userid}
        )
        ]]>
    </insert>


    <delete id="deleteLike" parameterType="java.util.HashMap">
    	<![CDATA[ 
		DELETE FROM recipe_like
		WHERE userid = #{userid} AND recipe_no = #{recipe_no}
        ]]>
    </delete>







</mapper>
