<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cm.takemeal.recipe.model.dao.RecipeDao">

	<resultMap type="recipe" id="resultRecipe">
		<id column="no" property="no" />
		<result column="subject" property="subject" />
		<result column="contents" property="contents" />
		<result column="thumbnail1" property="thumbnail1" />
		<result column="thumbnail2" property="thumbnail2" />
		<result column="thumbnail3" property="thumbnail3" />
		<result column="thumbnail4" property="thumbnail4" />
		<result column="time" property="time" />
		<result column="follow" property="follow" />
		<result column="hit" property="hit" />
		<result column="kcal" property="kcal" />
		<result column="userid" property="userid" />
		<result column="reg_date" property="reg_date" />
	</resultMap>
		
    <select id="selectContentCnt" resultType="int" parameterType="java.util.HashMap">
    	<![CDATA[ 
        SELECT
            COUNT(no)
        FROM
            recipe
		]]> 
    </select>
    
    
    <insert id="insertRecipe" parameterType="java.util.HashMap">
    	<![CDATA[ 
        INSERT INTO recipe(
        	no,
            subject,
            contents,
            thumbnail1,
            thumbnail2,
            thumbnail3,
            thumbnail4,
            time
        )values(
        	RECIPE_SEQ.NEXTVAL,
            #{subject},
            #{contents},
            #{thumbnail1, jdbcType=VARCHAR},
            #{thumbnail2, jdbcType=VARCHAR},
            #{thumbnail3, jdbcType=VARCHAR},
            #{thumbnail4, jdbcType=VARCHAR},
            #{time}
        )
        ]]>
    </insert>
    
    
    <select id="selectContent" resultType="com.cm.takemeal.recipe.model.vo.Recipe" parameterType="java.util.HashMap">
    	<![CDATA[ 
    	SELECT * FROM (
		    SELECT no, subject, contents, time, follow, thumbnail1, thumbnail2, thumbnail3, thumbnail4, TO_CHAR(reg_date,'YYYY-MM-DD'), ROW_NUMBER() OVER(ORDER BY NO DESC) AS RNUM
		    FROM recipe
		)
		WHERE RNUM > #{start} AND RNUM <= #{end}
		]]> 
    </select>
    
    
    
    
    <select id="selectRecipeLikeCnt" resultType="java.util.HashMap" parameterType="java.util.HashMap">
    	<![CDATA[ 
		SELECT
			no,
			recipe_no,
			userid
		FROM 
			recipe_like
		WHERE 
			userid = #{userid}
		]]> 
    </select>
    
    <select id="selectContentView" resultType="com.cm.takemeal.recipe.model.vo.Recipe" parameterType="java.util.HashMap">
    	<![CDATA[ 
		SELECT
			no,
			subject,
			contents,
			time,
			follow,
			TO_CHAR(reg_date,'YYYY-MM-DD')
		FROM 
			recipe
		WHERE 
			no = #{no}
		]]> 
    </select>
    
    
	











</mapper>
