<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cm.takemeal.recipe.model.dao.RecipeDao">

	<resultMap type="shop" id="resultShop">
		<id column="no" property="no" />
		<result column="name" property="name" />
		<result column="price" property="price" />
		<result column="qty" property="qty" />
		<result column="description" property="description" />
		<result column="contents" property="contents" />
		<result column="reg_date" property="reg_date" />
		<result column="thumbnail" property="thumbnail" />
		<result column="company" property="company" />
		<result column="country" property="country" />
	</resultMap>
		
    <select id="selectShopContentCnt" resultType="int" parameterType="java.util.HashMap">
    	<![CDATA[ 
        SELECT
            COUNT(no)
        FROM
            goods
		]]> 
    </select>
    
    <select id="selectShopContent" resultType="com.cm.takemeal.shop.model.vo.Shop" parameterType="java.util.HashMap">
    	<![CDATA[ 
    	SELECT * FROM (
		    SELECT no, name, price, qty, description, contents,  thumbnail, company, country, TO_CHAR(reg_date,'YYYY-MM-DD'), ROW_NUMBER() OVER(ORDER BY NO DESC) AS RNUM
		    FROM goods
		)
		WHERE RNUM BETWEEN #{start} AND #{end}
		]]> 
    </select>
    
    
    <select id="selectShopContentView" resultType="com.cm.takemeal.shop.model.vo.Shop" parameterType="java.util.HashMap">
    	<![CDATA[ 
		SELECT
			no,
			name,
			price,
			qty,
			description,
			contents,
			thumbnail,
			company,
			country,
			TO_CHAR(reg_date,'YYYY-MM-DD')
		FROM 
			goods
		WHERE 
			no = #{no}
		]]> 
    </select>
    
    
	











</mapper>
